@import '../base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0rem;
  font-weight: normal;
}

/* Адаптивність для різних розмірів екрану */
@media (max-width: 1680px) {
  #app {
    max-width: 1400px;
  }
}

@media (max-width: 1440px) {
  #app {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  #app {
    max-width: 100%;
    padding: 0rem;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 0rem;
  }
}
